.header-row{
    border-bottom: solid 1px #ADADAD;
    height: 45px;

    font-size: 18px;
}

.subject-box{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5cb85c;
}

.icons{

}
.icons .fa-pencil{
    color: white;
}

.icons .fa-times{
    color: red;
}

.row{
    margin-top: 5px;
}

.subject-box-filled{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #337ab7;
}

.no-padding-right{
    padding-right: 0px;
}