.selectpicker{
    height: 34px;
    padding: 6px 12px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid transparent; 
}

.info_spalte_bewertungsbogen td{
    padding: 15px !important;
    margin: 8px !important;
    height: 15px;
    font-size: 13px;
    background-color: #4ebbdc;
    min-width: 105px !important;
}

.bewertungsbogen{
    overflow-y: auto;
}

.test{
    min-width: 100px !important;
}