body {
    font-family: "Times New Roman", Times, serif;
}
nav.navbar {
	border-bottom: solid 2px #ADADAD;
}
nav.navbar .headline{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
nav.navbar .dropdown{
	position: absolute;
	top: 50%;
	right: 0%;
        z-index: 2;
	transform: translate(-50%, -50%);
	font-size: 30px;
	cursor: pointer;
}
nav.navbar .dropdown-pull-right {
    right: 0;
    left: auto;
}

/* Pannels */
#searchinput {
	background-color: #E1E2DE;
	color: #524e4e;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
.search{
	display: inline;
}
.add-button{
	float: right;
}

.panel-group{
	margin-top: 40px;
}

.panel-primary{
	margin-bottom: 20px!important;
	border-color: #337ab7;
	background-color: #337ab7;
	border: 1px solid #337ab7;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 0;
}
.panel-primary .panel-body{
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	font-size: 18px;
	padding: 10px 15px 10px 15px;
}
.panel-primary .panel-footer{
	font-size: 35px;
	text-align: right;
}
.panel-primary .panel-footer .fa-times{
	color: red;
}
.panel-primary .panel-footer .fa-pencil{
	color: gray;
}
.panel-primary .panel-footer i{
	cursor: pointer;
}
.panel-primary .panel-footer .icons{
	display: inline-block;
}
.panel-primary .panel-footer .text{
	float: left;
	display: inline-block;
}
.panel-primary .panel-footer{
	position:relative;
}

.clear {
    clear: both;
}

.display-none{
	display: none;
}
