body {
    font-family: "Times New Roman", Times, serif;
}
nav.navbar {
	border-bottom: solid 2px #ADADAD;
}
nav.navbar .headline{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
nav.navbar .dropdown{
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	cursor: pointer;
}
nav.navbar .dropdown-pull-right {
    right: 0;
    left: auto;
}
